/* 
------------------
Fonts
------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Dancing+Script&display=swap');

/* 
------------------
Variables
------------------
*/
:root {
  --clr-primary: #9dc335;
  --clr-primary-dark: #39490e;
  --clr-primary-darken: #353a27;
  --clr-main-text: #7a6c43;
  --clr-secondary-spicy-pink: #7c696f;
  --clr-secondary-martini: #b6a4a1;
  --clr-iron: #cdd3d3;
  --clr-satin-linen: #e5e4d7;
  --ff-primary: 'Catamaran', sans-serif;
  --ff-secondary: 'Dancing Script', cursive;
  --transition: all 0.4s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-satin-linen);
  color: var(--clr-main-text);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.25rem;
}

/* More global css */
.btn {
  text-transform: uppercase;
  color: var(--clr-primary);
  background: var(--clr-primary-dark);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  color: var(--clr-primary-dark);
  background: var(--clr-primary);
}

.btn-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}

.clearfix::after,
.clearfix::before {
  content: '';
  clear: both;
  display: table;
}

.section-title {
  margin-bottom: 2rem;
}

.section-title h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary-dark);
}

.section-center {
  padding: 4rem 2rem;
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}

.section-text {
  color: var(--clr-secondary-martini);
  max-width: 28rem;
}

/* 
------------------
Scrollbar
------------------
*/
::-webkit-scrollbar {
  background: var(--clr-secondary-martini);
  width: 0.65rem;
  border-radius: var(--radius);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-secondary-spicy-pink);
  border-radius: 2px;
}

/* 
------------------
Navbar
------------------
*/
.nav-btn {
  position: fixed;
  top: 3%;
  left: 3%;
  font-size: 2.5rem;
  color: var(--clr-primary-dark);
  z-index: 2;
  cursor: pointer;
  /* animation */
  animation: bounce 2s ease infinite;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-satin-linen);
  z-index: 3;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);
  /* hide navbar */
  transition: var(--transition);
  transform: translateX(-100%);
}

.show-nav {
  transform: translate(0);
}

.navbar-header {
  text-align: right;
  padding-right: 1rem;
}

.nav-close {
  font-size: 2.5rem;
  cursor: pointer;
  color: lightcoral;
  transition: var(--transition);
}

.nav-close:hover {
  color: firebrick;
}

.nav-items {
  list-style-type: none;
}

.nav-link {
  display: block;
  font-size: 1.5rem;
  padding: 0.25rem 2rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--clr-secondary-spicy-pink);
  transition: var(--transition);
}

.nav-link:hover {
  background: var(--clr-primary-dark);
  color: var(--clr-primary);
  padding-left: 1.5rem;
  border-left: 0.25rem solid var(--clr-primary-dark);
}

/* 
------------------
Header
------------------
*/
header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/heroo.jpg') center/cover no-repeat fixed;
  position: relative;
  /* animation */
  overflow-x: hidden;
}

.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  /* animation */
  animation: slideFromRight 3s ease-in-out 1;
}

.banner h1 {
  text-transform: uppercase;
  color: var(--clr-satin-linen);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* animation */
  animation: slideFromLeft 3s ease-in-out 1;
}

.banner-btn {
  outline: 0.125rem solid var(--clr-primary-dark);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
  /* animation */
  animation: show 3s linear 1;
}

.banner-btn:hover {
  outline: 0.14rem solid var(--clr-primary);
}

/* Content Divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--clr-primary-dark),
    var(--clr-primary),
    var(--clr-primary-dark)
  );
}

/* 
------------------
Skills
------------------
*/
.skills {
  background: var(--clr-iron);
}

.skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
}

.skill-icon {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  display: inline-block;
  transition: var(--transition);
  color: var(--clr-primary-dark);
}

.skill-text {
  color: var(--clr-secondary-martini);
  max-width: 17rem;
  margin: 0 auto;
}

.skill:hover {
  background: var(--clr-satin-linen);
  box-shadow: 0 2px var(--clr-primary-dark);
}

.skill:hover .skill-icon {
  transform: translateY(-5px) rotate(-15deg);
}

/* 
------------------
About
------------------
*/
.about-img,
.about-info {
  margin: 0 auto;
  max-width: 28rem;
  padding: 2rem 0;
  height: 55vh;
}

.about-info {
  position: relative;
  display: block;
}

.about-picture-container {
  background: var(--clr-primary-dark);
  overflow: hidden;
}

.about-picture {
  transition: var(--transition);
}

.about-picture-container:hover .about-picture {
  opacity: 0.8;
  transform: scale(1.25);
}

.text-container {
  height: 8rem;
  overflow: auto;
}

/* 
------------------
Products
------------------
*/
.products {
  background: var(--clr-iron);
}

.products-info {
  position: relative;
  max-width: 28rem;
  margin: 0 auto;
  padding: 2rem 0;
  height: 45vh;
}

.product {
  padding: 0 4rem;
}

.product-img {
  margin-bottom: 1rem;
  width: 16rem;
  height: 22rem;
  object-fit: cover;
  border-radius: var(--radius);
}

.product h4 {
  width: 16rem;
  text-align: center;
}

/* carousel */
.slider {
  background: var(--clr-iron);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 26rem;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  width: 20rem;
}

.slider::after,
.slider::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: 26rem;
  position: absolute;
  width: 1rem;
  z-index: 1;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 25s linear infinite;
  display: flex;
  width: calc(20rem * 5);
}

/* Product page only */
.products-page-info {
  max-width: 28rem;
  margin: 0 auto;
  padding: 2rem 0;
  height: 45vh;
}

.product-page {
  padding-bottom: 2rem;
}

.product-page h4 {
  text-align: center;
  padding-top: 1rem;
}

.product-page img {
  margin: 0 auto;
}

/* 
------------------
Services
------------------
*/
.services-title {
  margin-top: 4rem;
  margin-bottom: -4rem;
  text-align: center;
}

.service-card {
  margin: 2rem auto;
  width: 18rem;
  background: var(--clr-satin-linen);
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.service-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.service-img {
  width: 18rem;
  height: 17rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: var(--radius);
}

.service-info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
}

.service-info p {
  max-width: 20rem;
  color: var(--clr-secondary-martini);
  margin: 0 auto;
}

.service-btn {
  font-size: 0.75rem;
  text-transform: capitalize;
  padding: 0.375rem 0.5rem;
  border-radius: var(--radius);
  font-weight: 400;
  margin-top: 1.25rem;
}

.service-img-container {
  position: relative;
}

.service-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 2rem;
  color: var(--clr-primary-dark);
  background: var(--clr-primary);
  padding: 0.25rem 0.6rem;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  border: 0.375rem solid var(--clr-satin-linen);
}

/* ------------------ 
Contact 
------------------ */
.contact {
  background: var(--clr-iron);
  padding-bottom: 3rem;
}

.contact-info {
  margin: 0 auto;
  max-width: 28rem;
}

.contact-item {
  margin-bottom: 1.75rem;
}

.contact-title {
  color: var(--clr-primary-dark);
  font-weight: 400;
}

.contact-text {
  text-transform: uppercase;
}

.contact-form {
  background: var(--clr-satin-linen);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
  max-width: 28rem;
  margin: 0 auto;
}

.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.contact-form h3 {
  padding-top: 1.75rem;
  color: var(--clr-secondary-martini);
}

.form-group {
  padding: 1rem 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-iron);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-main-text);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

/* ------------------ 
Footer
------------------ */
footer {
  background: #111;
  text-align: center;
}

.social-icon {
  color: var(--clr-satin-linen);
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-main-text);
}

.footer-text {
  margin: 1.25rem;
  text-transform: uppercase;
  color: var(--clr-main-text);
  font-weight: 400;
}

.company {
  font-weight: 700;
  color: var(--clr-main-text);
}

/* 
------------------
Animation
------------------
*/
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes show {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  50% {
    transform: scale(1.7);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-20rem * 5 + 4rem));
  }
}

/* ------------------ 
Responsiveness
------------------ */
@media screen and (min-width: 576px) {
  .skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  .navbar {
    width: 30%;
    max-width: 20rem;
  }

  .section-center {
    width: 90vw;
    position: relative;
  }

  .service-img {
    width: 100%;
  }
  .service-card {
    float: left;
    width: 45%;
    margin-left: 5%;
  }

  /* product page only */
  .product-page {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .service-card {
    width: 30%;
    margin-left: 3%;
  }

  /* product page only */
  .product-page {
    width: 30%;
    margin-left: 3%;
  }
}

@media screen and (min-width: 1080px) {
  .skill {
    width: 25%;
  }

  .skill-text {
    width: 90%;
  }

  .about-img,
  .about-info {
    float: left;
  }

  .about-img {
    width: 50%;
  }

  .about-info {
    margin-left: 5%;
    width: 45%;
  }

  .products-info,
  .carousel-container {
    float: left;
    width: 50%;
  }
  .carousel-container {
    padding-left: 10%;
  }

  .contact-form,
  .contact-info {
    float: left;
    width: 47.5%;
  }

  .contact-info {
    margin-right: 5%;
  }
}

@media screen and (min-width: 1150px) {
  .about-img,
  .about-info {
    left: 10%;
  }

  .products-info {
    padding-left: 5%;
  }
  .carousel-container {
    padding-left: 20%;
  }

  .contact-info {
    width: 40%;
    padding-left: 5%;
  }
  .contact-form {
    margin-left: 10%;
    width: 45%;
  }
}
